# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# Latex intermediate files
*.aux
*.dvi
*.pdf

# Python note book
.ipynb_checkpoints

# .csv files
*.csv

XGBoost/xgboost.model

Kaggle/Titanic/xgboost.model
.Rproj.user

RForDataScience/Ch07ExploratoryDataAnalysis.html

RForDataScience/R4DSNotes.html

*.model
